{% extends "layout/base.html" %}


{% block title %}
حذف المنتج
{% endblock %}

{% block content %}

<div class="delete-card">

    <h2>تأكيد حذف المنتج</h2>

    <p>

        هل أنت متأكد من حذف هذا المنتج؟

        <strong>{{ product.name }}</strong>

    </p>

    <p>

        الكود:

        <strong>{{ product.id }}</strong>

    </p>

    <form method="post">

        {% csrf_token %}

        <button class="btn-danger">

            <i class="bi bi-trash3"></i>

            حذف

        </button>

        <a
            href="{% url 'product_detail' product.id %}"
            class="btn-save">

            إلغاء

        </a>

    </form>

</div>

{% endblock %}