{% extends "layout/base.html" %}


{% block title %}
حذف الفئة
{% endblock %}

{% block content %}

<div class="delete-card">

    <h2>حذف الفئة</h2>

    <p>

        هل أنت متأكد من حذف هذه الفئة؟

        <strong>{{ category.name }}</strong>؟

    </p>

    <form method="post">

        {% csrf_token %}

        <button
            type="submit"
            class="btn-delete">

            نعم، احذف

        </button>

        <a
            href="{% url 'categories_list' %}"
            class="btn-save">

            إلغاء

        </a>

    </form>

</div>

{% endblock %}