{% extends "layout/base.html" %}
{% load static %}

{% block title %}
سجل النشاطات
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}

<h1>سجل النشاطات</h1>

<table class="products-table">

    <thead>

        <tr>

            <th>الوقت</th>
            <th>المستخدم</th>

            <th>الإجراء</th>

            <th>المنتج</th>

            <th>الوصف</th>

        </tr>

    </thead>

    <tbody>

        {% for log in logs %}

        <tr>

            <td data-label="التاريخ">{{ log.created_at|date:"Y-m-d H:i" }}</td>
            <td data-label="المستخدم">{% if log.user %}{{ log.user.username }}{% else %}-{% endif %}</td>

            <td>{{ log.get_action_display }}</td>

            <td>

                {% if log.product %}

                    {{ log.product.name }}

                {% else %}

                    —

                {% endif %}

            </td>

            <td>{{ log.description }}</td>

        </tr>

        {% empty %}

        <tr>

            <td colspan="5">

                لا يوجد نشاط

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

<div class="pagination">

    {% if page_obj.has_previous %}

        <a href="?page={{ page_obj.previous_page_number }}">
            السابق
        </a>

    {% endif %}

    <span>
        صفحة
        {{ page_obj.number }}
        من
        {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}

        <a href="?page={{ page_obj.next_page_number }}">
            التالي
        </a>

    {% endif %}

</div>

{% endblock %}